<div class="hero-slider">
  <div class="hero-slider-fore">
    <div class="container">
      <div class="hero-slider-fore-content">
        <h1 class="hero-slider-title">We’ll help you get more from your website.</h1>
        <p class="hero-slider-body">More traffic, more leads, more sales.</p>
        <p>
          <a class="button is-white" href="#">
            Start a project
          </a>
          <a class="button" href="#">
            View our work
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="hero-slider-back">
    <div class="hero-slider-slick js-hero-slider">
      <div style="background: #1cafed;">
        <img src="/assets/images/leading.jpg" alt="Leading">
      </div>
      <div style="background: #fe8a28;">
        <img src="/assets/images/floorwise.jpg" alt="Floorwise">
      </div>
      <div style="background: #de9ced;">
        <img src="/assets/images/matawhero.jpg" alt="Matawhero">
      </div>
    </div>
  </div>
  <a class="hero-slider-mouse" href="#">
    <span class="mouse"></span>
  </a>
</div>
