<div class="masonry js-masonry">
  <div class="masonry-sizer"></div>
  <div class="masonry-item is-double">
    <a class="masonry-item-fore" href="#">
      <div class="masonry-item-content">
        <h2>Hello world</h2>
        <p>Something here</p>
      </div>
    </a>
    <img src="http://placehold.it/300x300" alt="">
  </div>
  <div class="masonry-item">
    <a class="masonry-item-fore" href="#">
      <div class="masonry-item-content">
        <h2>Hello world</h2>
        <p>Something here</p>
      </div>
    </a>
    <img src="http://placehold.it/300x300" alt="">
  </div>
  <div class="masonry-item">
    <a class="masonry-item-fore" href="#">
      <div class="masonry-item-content">
        <h2>Hello world</h2>
        <p>Something here</p>
      </div>
    </a>
    <img src="http://placehold.it/300x300" alt="">
  </div>
  <div class="masonry-item">
    <a class="masonry-item-fore" href="#">
      <div class="masonry-item-content">
        <h2>Hello world</h2>
        <p>Something here</p>
      </div>
    </a>
    <img src="http://placehold.it/300x300" alt="">
  </div>
  <div class="masonry-item">
    <a class="masonry-item-fore" href="#">
      <div class="masonry-item-content">
        <h2>Hello world</h2>
        <p>Something here</p>
      </div>
    </a>
    <img src="http://placehold.it/300x300" alt="">
  </div>
</div>
