<div class="poupon js-poupon">
  <div class="columns is-gapless is-vcentered">
    <div class="column is-6">
      <div class="poupon-tv">
        <div class="poupon-tv-slider js-poupon-tv-slider">
          <div style="background-color: #1cafed">
            <img src="/assets/images/laptop-1.png" alt="Laptop">
          </div>
          <div style="background-color: #c9e548">
            <img src="/assets/images/laptop-2.png" alt="Laptop">
          </div>
          <div style="background-color: #de9ced">
            <img src="/assets/images/laptop-3.png" alt="Laptop">
          </div>
        </div>
      </div>
    </div>
    <div class="column is-5">
      <p>What we do</p>
      <h2>More Visitors. More Leads. More Sales.</h2>
      <p>
        Utilising a marketing suite which embraces brand strategy, website design, inbound marketing, website SEO, online advertising & more, we’ll help you build more business.
      </p>

      <div class="poupon-presentation-thumbs js-poupon-presentation-thumbs">
        <a class="button is-outlined poupon-presentation-thumb js-poupon-presentation-thumb" data-index="0" href="#">
          Test me
        </a>
        <a class="button is-outlined poupon-presentation-thumb js-poupon-presentation-thumb" data-index="1" href="#">
          Test me
        </a>
        <a class="button is-outlined poupon-presentation-thumb js-poupon-presentation-thumb" data-index="2" href="#">
          Test me
        </a>
      </div>
      <div class="poupon-presentation js-poupon-presentation">
        <div>
          <h2>Calibrate your brand</h2>
          <p>If your brand isn’t sighted in, you’ll miss the target. We’ll calibrate your brand with a customer-inspired Value Proposition and develop Personas so you know who you are targeting.</p>
        </div>
        <div>
          <h2>Do somethign else</h2>
          <p>If your brand isn’t sighted in, you’ll miss the target. We’ll calibrate your brand with a customer-inspired Value Proposition and develop Personas so you know who you are targeting.</p>
        </div>
        <div>
          <h2>Rinse and repeat</h2>
          <p>If your brand isn’t sighted in, you’ll miss the target. We’ll calibrate your brand with a customer-inspired Value Proposition and develop Personas so you know who you are targeting.</p>
        </div>
      </div>
    </div>
  </div>
</div>
