<footer class="the-footer">
  <div class="container">
    <div class="the-footer-body">
      <div class="columns">
        <div class="column is-4">
          {% include 'partials/svg' with { 'svgName': 'grand-logo', 'class': 'logo' } %}
          <p>Grand is a mostly-digital creative agency based in Auckland, NZ.</p>
          <p>We create brands, design websites and deliver inbound marketing campaigns that are results-focused.</p>
          <p>Want more sales? We’ll help find the traffic, generate more leads and get you more business for your business.</p>
        </div>
        <div class="column is-6 is-offset-2">
          <div class="columns">
            <div class="column">
              <h4>Marketing</h4>
              <a href="#">Book a marketing or website appraisal</a>
              <a href="#">Get a free Website Audit</a>
              <a href="#">Request a Quote</a>
            </div>
            <div class="column">
              <h4>Services</h4>
              <a href="#">Branding</a>
              <a href="#">Website Design</a>
              <a href="#">Design &amp; Creative</a>
              <a href="#">Advertising &amp; Promotion</a>
              <a href="{{siteUrl}}seo">SEO</a>
              <a href="#">Digital Marketing</a>
            </div>
            <div class="column">
              <h4>Contact Us</h4>
              <p>20 Garfield Street, Auckland 1052</p>
              <p>+64 9 309 5050</p>
              <p>hello@grand.co.nz</p>
              <div>
                <a href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="the-footer-bottom">
      <div class="columns">
        <div class="column is-7">
          All rights reserved &copy; Grand Creative Ltd. &nbsp; <a href="#">Privacy Policy</a> &nbsp; <a href="#">Website Terms</a>
        </div>
        <div class="column has-text-right">
          <span class="is-uppercase">Got a question?</span> &nbsp; <a href="#">Contact us here &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</footer>
