<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% hook 'seomaticRender' %}
  <link rel="home" href="{{ siteUrl }}" />
  <link rel="canonical" href="{{ siteUrl  }}">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/images/favicons/manifest.json">
  <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#00d1b2">
  <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
  <meta name="theme-color" content="#00d1b2">


  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:600|Merriweather|Open+Sans:400,700" rel="stylesheet">

  <link rel="stylesheet" href="{{ 'assets/stylesheets/vendor.css' | gulp_rev }}" />
  <link rel="stylesheet" href="{{ 'assets/stylesheets/app.css' | gulp_rev }}" />
</head>
